$bg-clr-grey: #151515;
$bg-clr-grey-blue: linear-gradient(in lch, rgba(44, 44, 44, 0), rgba(24, 63, 122, 0.74));
$clr-dark-blue: rgb(36, 63, 103);
$h2-coloring: lightskyblue;
$h3-coloring: rgb(131, 42, 42);